In [272]:
import numpy as np
import pandas as pd
import calendar
pd.options.display.max_columns = 99
pd.options.display.max_rows = 2000

## Data-processing

In [273]:
# load dataset
E1415 = pd.read_csv('data/E1415.csv')
E1516 = pd.read_csv('data/E1516.csv')
E1617 = pd.read_csv('data/E1617.csv')
E1718 = pd.read_csv('data/E1718test.csv')

# concat dataset
frames = [E1617,E1718]
data = pd.concat(frames)[['Date','HomeTeam','AwayTeam','FTR','FTHG','FTAG','Referee','B365H','B365D','B365A']]

# remove nan
data.dropna(how='any',axis=0,inplace=True)

# get month cat
data['month'] = pd.DatetimeIndex(data['Date']).month.astype(int)
data['month']= data['month'].apply(lambda x: calendar.month_abbr[x])

In [274]:
data.head()

,Date,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Referee,B365H,B365D,B365A,month
0,13/08/16,Burnley,Swansea,A,0,1,J Moss,2.40,3.3,3.25,Aug
1,13/08/16,Crystal Palace,West Brom,A,0,1,C Pawson,2.00,3.3,4.50,Aug
2,13/08/16,Everton,Tottenham,D,1,1,M Atkinson,3.20,3.4,2.40,Aug
3,13/08/16,Hull,Leicester,H,2,1,M Dean,4.50,3.6,1.91,Aug
4,13/08/16,Man City,Sunderland,H,2,1,R Madley,1.25,6.5,15.00,Aug

In [275]:
def data_processing(data):
    df_with_dummies = pd.get_dummies(data, columns = ['HomeTeam','AwayTeam','FTR','Referee','month'])
    df_with_dummies.drop(['Date','FTHG','FTAG'], axis=1, inplace=True)
    return(df_with_dummies)

In [276]:
processed_data=data_processing(data)

In [277]:
processed_data.head()

,B365H,B365D,B365A,HomeTeam_Arsenal,HomeTeam_Bournemouth,HomeTeam_Brighton,HomeTeam_Burnley,HomeTeam_Chelsea,HomeTeam_Crystal Palace,HomeTeam_Everton,HomeTeam_Huddersfield,HomeTeam_Hull,HomeTeam_Leicester,HomeTeam_Liverpool,HomeTeam_Man City,HomeTeam_Man United,HomeTeam_Middlesbrough,HomeTeam_Newcastle,HomeTeam_Southampton,HomeTeam_Stoke,HomeTeam_Sunderland,HomeTeam_Swansea,HomeTeam_Tottenham,HomeTeam_Watford,HomeTeam_West Brom,HomeTeam_West Ham,AwayTeam_Arsenal,AwayTeam_Bournemouth,AwayTeam_Brighton,AwayTeam_Burnley,AwayTeam_Chelsea,AwayTeam_Crystal Palace,AwayTeam_Everton,AwayTeam_Huddersfield,AwayTeam_Hull,AwayTeam_Leicester,AwayTeam_Liverpool,AwayTeam_Man City,AwayTeam_Man United,AwayTeam_Middlesbrough,AwayTeam_Newcastle,AwayTeam_Southampton,AwayTeam_Stoke,AwayTeam_Sunderland,AwayTeam_Swansea,AwayTeam_Tottenham,AwayTeam_Watford,AwayTeam_West Brom,AwayTeam_West Ham,FTR_A,FTR_D,FTR_H,Referee_A Marriner,Referee_A Taylor,Referee_C Kavanagh,Referee_C Pawson,Referee_G Scott,Referee_J Moss,Referee_K Friend,Referee_L Mason,Referee_L Probert,Referee_M Atkinson,Referee_M Clattenburg,Referee_M Dean,Referee_M Jones,Referee_M Oliver,Referee_N Swarbrick,Referee_P Tierney,Referee_R East,Referee_R Madley,Referee_S Attwell,Referee_l Mason,month_Apr,month_Aug,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,2.40,3.3,3.25,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2.00,3.3,4.50,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3.20,3.4,2.40,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,4.50,3.6,1.91,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,1.25,6.5,15.00,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [278]:
processed_data.shape

(460, 84)

In [279]:
E1718.shape

(80, 65)

In [280]:
data_model = processed_data.head(processed_data.shape[0]-E1718.shape[0])

In [281]:
from sklearn.model_selection import train_test_split
train_set, validation_set = train_test_split(data_model, test_size = 0.3)

y_train = train_set[['FTR_A','FTR_D','FTR_H']]
x_train  = train_set.drop(['FTR_A','FTR_D','FTR_H'],axis=1)
y_validation = validation_set[['FTR_A','FTR_D','FTR_H']]
x_validation  = validation_set.drop(['FTR_A','FTR_D','FTR_H'],axis=1)

In [282]:
from keras.models import Sequential
from keras.layers import Dense

In [283]:
model = Sequential()
model.add(Dense(200, input_dim=x_train.shape[1], activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(1000, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(3,activation='softmax'))

In [284]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [285]:
model.fit(x_train.values,y_train.values, epochs=20, batch_size=10)

Epoch 1/20
266/266 [==============================] - 1s - loss: 1.0156 - acc: 0.5113
Epoch 2/20
266/266 [==============================] - 1s - loss: 0.9182 - acc: 0.6015
Epoch 3/20
266/266 [==============================] - 1s - loss: 0.9116 - acc: 0.6203
Epoch 4/20
266/266 [==============================] - 1s - loss: 0.9290 - acc: 0.6053
Epoch 5/20
266/266 [==============================] - 1s - loss: 0.8910 - acc: 0.6015
Epoch 6/20
266/266 [==============================] - 1s - loss: 0.8817 - acc: 0.6241
Epoch 7/20
266/266 [==============================] - 1s - loss: 0.8357 - acc: 0.6429
Epoch 8/20
266/266 [==============================] - 1s - loss: 0.7347 - acc: 0.6692
Epoch 9/20
266/266 [==============================] - 1s - loss: 0.7997 - acc: 0.6579
Epoch 10/20
266/266 [==============================] - 1s - loss: 0.6422 - acc: 0.6955
Epoch 11/20
266/266 [==============================] - 1s - loss: 0.6172 - acc: 0.7406
Epoch 12/20
266/266 [==============================] - 1s - loss: 0.5427 - acc: 0.7519
Epoch 13/20
266/266 [==============================] - 1s - loss: 0.4366 - acc: 0.8233
Epoch 14/20
266/266 [==============================] - 1s - loss: 0.4091 - acc: 0.8459
Epoch 15/20
266/266 [==============================] - 1s - loss: 0.4244 - acc: 0.8534
Epoch 16/20
266/266 [==============================] - 1s - loss: 0.4084 - acc: 0.8459
Epoch 17/20
266/266 [==============================] - 1s - loss: 0.5032 - acc: 0.8383
Epoch 18/20
266/266 [==============================] - 1s - loss: 0.3389 - acc: 0.8647
Epoch 19/20
266/266 [==============================] - 1s - loss: 0.2373 - acc: 0.9098
Epoch 20/20
266/266 [==============================] - 1s - loss: 0.2459 - acc: 0.9098

In [286]:
scores = model.evaluate(x_validation.values,y_validation.values)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

 32/114 [=======>......................] - ETA: 0s
acc: 49.12%

In [335]:
data_end = processed_data.tail(80)
data_end = data_end[data_end['HomeTeam_Man City']==1]

In [336]:
data_end.head()

,B365H,B365D,B365A,HomeTeam_Arsenal,HomeTeam_Bournemouth,HomeTeam_Brighton,HomeTeam_Burnley,HomeTeam_Chelsea,HomeTeam_Crystal Palace,HomeTeam_Everton,HomeTeam_Huddersfield,HomeTeam_Hull,HomeTeam_Leicester,HomeTeam_Liverpool,HomeTeam_Man City,HomeTeam_Man United,HomeTeam_Middlesbrough,HomeTeam_Newcastle,HomeTeam_Southampton,HomeTeam_Stoke,HomeTeam_Sunderland,HomeTeam_Swansea,HomeTeam_Tottenham,HomeTeam_Watford,HomeTeam_West Brom,HomeTeam_West Ham,AwayTeam_Arsenal,AwayTeam_Bournemouth,AwayTeam_Brighton,AwayTeam_Burnley,AwayTeam_Chelsea,AwayTeam_Crystal Palace,AwayTeam_Everton,AwayTeam_Huddersfield,AwayTeam_Hull,AwayTeam_Leicester,AwayTeam_Liverpool,AwayTeam_Man City,AwayTeam_Man United,AwayTeam_Middlesbrough,AwayTeam_Newcastle,AwayTeam_Southampton,AwayTeam_Stoke,AwayTeam_Sunderland,AwayTeam_Swansea,AwayTeam_Tottenham,AwayTeam_Watford,AwayTeam_West Brom,AwayTeam_West Ham,FTR_A,FTR_D,FTR_H,Referee_A Marriner,Referee_A Taylor,Referee_C Kavanagh,Referee_C Pawson,Referee_G Scott,Referee_J Moss,Referee_K Friend,Referee_L Mason,Referee_L Probert,Referee_M Atkinson,Referee_M Clattenburg,Referee_M Dean,Referee_M Jones,Referee_M Oliver,Referee_N Swarbrick,Referee_P Tierney,Referee_R East,Referee_R Madley,Referee_S Attwell,Referee_l Mason,month_Apr,month_Aug,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
19,1.33,5.75,10.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
34,1.85,4.00,4.2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
53,1.14,10.00,21.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
73,1.14,9.50,21.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [337]:
y_test = data_end[['FTR_A','FTR_D','FTR_H']]
x_test  = data_end.drop(['FTR_A','FTR_D','FTR_H'],axis=1)

In [338]:
predictions = pd.DataFrame(model.predict(x_test.values))

In [339]:
scores = model.evaluate(x_test.values,y_test.values)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

4/4 [==============================] - 0s

acc: 75.00%

In [340]:
predictions.columns=['FTR_A','FTR_D','FTR_H']
predictions.round(2).head(10)

   FTR_A  FTR_D  FTR_H
0   0.13   0.54   0.33
1   0.78   0.20   0.02
2   0.04   0.39   0.56
3   0.02   0.27   0.71

In [341]:
y_test.head(10)

    FTR_A  FTR_D  FTR_H
19      0      1      0
34      0      0      1
53      0      0      1
73      0      0      1

In [342]:
data[data.HomeTeam=='Man City']

,Date,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Referee,B365H,B365D,B365A,month
4,13/08/16,Man City,Sunderland,H,2,1,R Madley,1.25,6.50,15.0,Aug
28,28/08/16,Man City,West Ham,H,3,1,A Marriner,1.25,6.00,11.0,Aug
44,17/09/16,Man City,Bournemouth,H,4,0,J Moss,1.29,6.00,12.0,Sep
74,15/10/16,Man City,Everton,D,1,1,M Oliver,1.50,4.75,7.0,Oct
89,23/10/16,Man City,Southampton,D,1,1,M Clattenburg,1.50,4.50,7.5,Oct
103,05/11/16,Man City,Middlesbrough,D,1,1,K Friend,1.22,7.00,15.0,May
131,03/12/16,Man City,Chelsea,A,1,3,A Taylor,2.15,3.60,3.6,Mar
153,14/12/16,Man City,Watford,H,2,0,K Friend,1.29,6.50,11.0,Dec
167,18/12/16,Man City,Arsenal,H,2,1,M Atkinson,2.15,3.60,3.5,Dec
191,02/01/17,Man City,Burnley,H,2,1,L Mason,1.17,8.50,19.0,Feb
213,21/01/17,Man City,Tottenham,D,2,2,A Marriner,2.15,3.50,3.6,Jan
239,05/02/17,Man City,Swansea,H,2,1,M Dean,1.22,7.00,15.0,May
268,08/03/17,Man City,Stoke,D,0,0,N Swarbrick,1.25,6.50,15.0,Aug
280,19/03/17,Man City,Liverpool,D,1,1,M Oliver,2.00,3.75,3.8,Mar
304,08/04/17,Man City,Hull,H,3,1,J Moss,1.20,7.50,17.0,Aug
333,27/04/17,Man City,Man United,D,0,0,M Atkinson,1.91,3.75,4.2,Apr
349,06/05/17,Man City,Crystal Palace,H,5,0,M Oliver,1.29,6.50,11.0,Jun
358,13/05/17,Man City,Leicester,H,2,1,R Madley,1.25,7.00,12.0,May
367,16/05/17,Man City,West Brom,H,3,1,C Pawson,1.14,9.00,23.0,May
19,21/08/17,Man City,Everton,D,1,1,R Madley,1.33,5.75,10.0,Aug
34,09/09/17,Man City,Liverpool,H,5,0,J Moss,1.85,4.00,4.2,Sep
53,23/09/17,Man City,Crystal Palace,H,5,0,N Swarbrick,1.14,10.00,21.0,Sep
73,14/10/17,Man City,Stoke,H,7,2,C Pawson,1.14,9.50,21.0,Oct